@font-face {
    font-family: "mcclatchy-slab-light";
    src: url('https://raw.githubusercontent.com/mjs2430/mcclatchy/master/fonts/mcclatchy-slab-light.ttf');
    font-weight: 300;
    font-style: normal;
}
