@font-face {
    font-family: "mcclatchy-slab-light";
    src: url('https://cdn.rawgit.com/mjs2430/mcclatchy/blob/master/fonts/mcclatchy-slab-light.ttf');
    font-weight: 300;
    font-style: normal;
}
