@import url('https://cdn.rawgit.com/mjs2430/mcclatchy/master/fonts.css');


.free-html-section .container:first-of-type {
    padding-left: 0px;
    padding-right: 0px;
}
.main-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.hide {
  display: none;
}
.container-fluid {
  overflow-x: hidden;
}
p {
  font-family: 'mcclatchy sans'!important;
  font-weight: 400;
  font-size: 14px!important;
  line-height: 24px!important;
  max-width: 640px;
}
.header {
  background: #000;
  height: 64px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-heading {
  font-family: 'mcclatchy-sans';
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: #333333;
}
.podcast-description {
  font-family: 'mcclatchy-sans';
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
}
.region-label {
  color: #B20009;
  font-family: 'mcclatchy-sans-cond';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-left: 15px;
}
/******* 
Market podcast section
********/
.market {
  padding: 0px 20px 20px 20px;
}
.market a {
  color: #000;
}
.market a:hover {
  text-decoration: none;
}
.market .subscribe-link {
  font-size: 12px;
  font-family: 'mcclatchy-sans';
}
.market .card {
  max-width: 500px;
  margin: 0 0 30px 0!important;
}
.market .card img {
  max-height: 500px;
  padding: 0;
}
.market .card .card-content {
  background: #EEEEEE;
  padding: 15px 15px 10px;
}
.market .card .podcast-title {
	margin-bottom: 5px;
}
.card .podcast-title p, .card .podcast-title a {
  font-family: 'mcclatchy-sans';
  font-size: 22px!important;
  color: #333333;
  font-weight: 400;
  padding-bottom: 10px;
}
.market .card .subscribe-section {
  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 10px;
margin: 0px -5px 0 -5px;

}
.market .card .subscribe-section .source {
  border-right: 1px solid #cdcdcd;
  height: 50px;
  width: 30%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
}
.market .card .subscribe-section .source:last-of-type {
  border-right: none;
}
.market .card .subscribe-section .source .subscribe-link {
  margin: 0;
}
.market .card .subscribe-section .apple {
  width: 100px;
  margin-left: -7px;
}
.market .card .subscribe-section .apple img {
  margin: 0 auto 5px;
  width: 22px;
}
.market .card .subscribe-section .soundcloud {
  width: 85px;
  padding-top: 10px;
}
.market .card .subscribe-section .soundcloud img {
  width: 39px;
  margin: 0 auto 5px;
}
.market .card .subscribe-section .stitcher {
  width: 60px;
  padding-top: 13px;
}
.market .card .subscribe-section .stitcher img {
  width: 34px;
  margin: 0 6px 6px 8px;
}
.market .card .subscribe-section .google {
  width: 75px;
  padding-top: 4px;
}
.market .card .subscribe-section .google img {
  width: 23px;
  margin: 0 6px 5px 10px;
}

/******* 
MCDC podcast section
********/

.mcdc-section {
	margin-bottom: 20px;
}
.mcdc-section img {
		width: 150px;
	   padding: 0;
}

.mcdc-section .card {
	background: #eeeeee;
	margin: 0 0px 30px 0px;
	padding: 0;
}
.subscribe-section-mcdc .subscribe-link{
	color: #B20009;
	font-family: 'mcclatchy-sans'; 
	font-size: 12px;
}

.subscribe-section-mcdc .source {
	border-bottom: 1px solid #cdcdcd;
	display: block;
	width: 100%;
}

.subscribe-section-mcdc .apple img {
	width: 20px;
	margin: 6px 0 6px 12px;
}
.subscribe-section-mcdc .soundcloud img {
	width: 32px;
	margin: 11px 0 12px 12px;
}
.subscribe-section-mcdc .stitcher img {
	width: 28px;
	margin: 11px 0 10px 13px;
}
.subscribe-section-mcdc .google img {
	width: 23px;
	margin: 6px 0 6px 14px;
}

.subscribe-section-mcdc .source a:hover {
	text-decoration: none;
}
.subscribe-section-mcdc .subscribe-link {
	margin-left: 21px;
}
.subscribe-section-mcdc .source:nth-of-type(2) .subscribe-link {
	margin-left: 11px;
}
.subscribe-section-mcdc .source:nth-of-type(3) .subscribe-link {
	margin-left: 14px;
}
.subscribe-section-mcdc .source:nth-of-type(4) .subscribe-link {
	margin-left: 17.77px;
}

.mcdc-section .card-content {
	padding-top:20px;
	padding-bottom: 5px;
}


/******* 
Around mcclatchy podcast section
********/
.around {
  padding-left: 20px;
  padding-right: 20px;
}
.around ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
/**** Tab bar ****/
.tabs {
  overflow: auto;
  white-space: nowrap;
  width: 100vw;
}
.nav-pills {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 20px;
  min-width: 800px;
}
.nav-pills li a {
  color: #9e9e9e;
  font-family: 'mcclatchy-sans';
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
}
.nav-pills li a:hover {
  background: #fff;
}
.nav-pills li a.active {
  background: #ffffff;
}
/**** Tab content ****/
.tab-content {
  margin-bottom: 50px;
}
.tab-content li {
  margin-bottom: 30px;
}
.tab-content h3 {
  font-family: 'mcclatchy-sans';
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0 15px;
}
.tab-content .subscribe-section {
  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 10px;
  margin: 0px;
}
.tab-content .subscribe-section .source {
  width: 25%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
  max-width: 75px;
  margin-top: 5px;
  border-right: 1px solid #cdcdcd;
}
.tab-content .subscribe-section .source:last-of-type {
  border-right: none;
}
.tab-content .subscribe-section .apple {
  height: 30px;
}
.tab-content .subscribe-section .apple img {
  margin: 0 auto 5px;
  width: 22px;
}
.tab-content .subscribe-section .soundcloud {
  padding-top: 4px;
  height: 30px;
}
.tab-content .subscribe-section .soundcloud img {
  width: 39px;
  margin: 0 auto 5px;
}
.tab-content .subscribe-section .stitcher {
  padding-top: 7px;
  height: 30px;
}
.tab-content .subscribe-section .stitcher img {
  width: 34px;
  margin: 0 6px 5px 8px;
}
.tab-content .subscribe-section .google img {
  width: 22px;
}
.tab-content .subscribe-section .libsyn {
  height: 30px;
}
.tab-content .subscribe-section .libsyn img {
  width: 28px;
}
/**********
Media Queries
***********/
/*** Tablet/Small ****/
@media screen and (min-width: 768px) {
  /******* 
Market podcast section
********/
  .market .card {
    max-width: 972px;
    padding-right: 0px;
  }
  .market .card img {
    max-height: 224px;
    max-width: 224px;
  }
  .market .card .card-content {
    padding: 15px 15px 10px;
    height: 224px;
    width: 503px;
  }
  .market .card .podcast-title {
    padding-bottom: 15px;
	  margin-bottom: 0px;
  }

  .market .card .subscribe-section .source {
    height: 30px;
    width: 35%;
    padding: 0;
    display: inline;
  }
  .market .card .subscribe-section .source img {
    display: inline;
  }
  .market .card .subscribe-section .source .subscribe-link {
    display: inline;
    margin: 0 5px 0 5px;
  }
  .market .card .subscribe-section .apple {
    max-width: 130px;
    border-right: 1px solid #cdcdcd;
    margin-left: 0px;
  }
  .market .card .subscribe-section .apple img {
    margin: 0 auto 5px;
    width: 22px;
  }
  .market .card .subscribe-section .soundcloud {
    max-width: 130px;
    border-right: 1px solid #cdcdcd;
    padding-top: 5px;
  }
  .market .card .subscribe-section .soundcloud img {
    width: 32px;
    margin: 0 auto 5px;
  }
  .market .card .subscribe-section .stitcher {
    max-width: 100px;
    padding-top: 5px;
    border-right: 1px solid #cdcdcd;
  }
  .market .card .subscribe-section .stitcher img {
    width: 28px;
    margin: 0 6px 5px 3px;
  }
  .market .card .subscribe-section .google {
    max-width: 110px;
    padding-top: 0px;
  }
  .market .card .subscribe-section .google img {
    width: 23px;
    margin: 0 0px 5px 7px;
  }
 .hbcu-text {
     height: 120px;
 }
 .tab-content {
     margin-right: 20px;
 }
	.mcdc-cards-row {
		margin-right: 20px!important;
		max-width:  1165px;
	}
}
/*** Medium ****/
@media screen and (min-width: 992px) {
  .market {
    margin-bottom: 20px;
  }
  .market .card {
    width: 100%;
    max-width: 1200px;
    padding: 0px;
    margin: 0 0 30px 0;
  }
  .market .card .card-content {
    padding: 15px 25px 10px 25px;
    height: 224px;
    width: 100%;
    max-width: 700px;
  }
  .tabs {
    width: 100%;
    padding-right: 20px;
  }
  .tab-content {
    margin-bottom: 30px;
  }
   .hbcu-text {
     height: 71px;
 }
	.mcdc-section .card-content {
		min-height: 273px;
	}
	.subscribe-section-mcdc .subscribe-link {
		font-size: 11px;
	}
}
/*** Large ****/
@media screen and (min-width: 1200px) {
  .market .card {
    max-width: 1300px;
  }
  .market .card .card-content {
    max-width: 900px;
  }
			.mcdc-section .card-content {
		min-height: 225px;
	}
		.subscribe-section-mcdc .subscribe-link {
		font-size: 12px;
	}
}


@media screen and (max-width: 320px) {

.subscribe-section-mcdc .subscribe-link {
	font-size: 10px;
}
}
